# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

jump-start-html5/jshtml-master
jump-start-nodejs/NODEJS1-master

desktop.ini

# VSCode workspace
*.code-workspace

*.pdf
